{% extends('base.html') %}

{% block title %}Index{% endblock %}


{% block content %}


<div class="main-container">
    <header>
        <div class="app-name">
            <h1>Daily Tasks</h1>
        </div>
    </header>

    <main>
        <div class="input-task">
            <section class="add-task">
                <form class="inputForm" action="/create" method="post">
                    <input type="text" name="description" placeholder="Adicione uma nova task" required>
                    <button type="submit" class="add">+</button>
                </form>
            </section>
        </div>

        <div class="tabs">
            <div class="tab" onclick="showTab('all')">Todas as Tarefas</div>
            <div class="tab" onclick="showTab('pending')">Pendentes</div>
            <div class="tab" onclick="showTab('completed')">Concluídas</div>
        </div>

        <div class="tab-content-container">
            <!-- Seção Todas as Tarefas -->
            <section id="all" class="tab-content active">
                <Table>
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in all_tasks %}
                        <tr>
                            <!-- Descrição da task -->
                            <td class="td-description">{{ task.description }}</td>
                            <!-- Status da task -->
                            <td class="td-status">
                                <span class="{{ 'status-concluido' if task.completed else 'status-pendente' }}">
                                    {{ 'Concluído' if task.completed else 'Pendente' }}
                                </span>
                            </td>
                            <!-- Botões de ação -->
                            <td class="td-actions">
                                <!-- Editar -->
                                <form action="/edit/{{ task.id }}" method="post">
                                    <button type="submit" name="action" value="edit" class="btn-edit">Editar</button>
                                </form>
                                <!-- Excluir -->
                                <form action="/delete/{{ task.id }}" method="post">
                                    <button type="submit" name="action" value="delete"
                                        class="btn-delete">Excluir</button>
                                </form>
                                <!-- Marcar como concluido ou reativar -->
                                <form action="/toggle_status/{{ task.id }}" method="POST" class="task-form">
                                    <button type="submit" class="btn-complete">{{ 'Reativar' if task.completed else
                                        'Concluir' }}</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </Table>
            </section>

            <!-- Seção Tarefas Pendentes -->
            <section id="pending" class="tab-content">
                <h2>Tarefas Pendentes</h2>
                <ul>
                    {% for task in pending_tasks %}
                    <li>
                        <form action="/update_or_delete/{{ task.id }}" method="POST" class="task-form">
                            <input type="text" name="description" value="{{ task.description }}" required>
                            <button type="submit" name="action" value="edit" class="edit">Editar</button>
                            <button type="submit" name="action" value="delete" class="delete">Excluir</button>
                        </form>
                        <form action="/toggle_status/{{ task.id }}" method="POST" class="task-form">
                            <button type="submit" class="btn-complete">Marcar como Concluída</button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </section>

            <!-- Seção Tarefas Concluídas -->
            <section id="completed" class="tab-content">
                <h2>Tarefas Concluídas</h2>
                <ul>
                    {% for task in completed_tasks %}
                    <li>
                        <form action="/toggle_status/{{ task.id }}" method="POST" class="task-form">
                            <span>{{ task.description }}</span>
                            <button type="submit" class="btn-reactivate">Reativar Tarefa</button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </div>

    </main>
</div>

<script>
    function showTab(tabId) {
        // Controla a exibição das seções de acordo com o id
        document.querySelectorAll('.tab-content').forEach(tabContent => {
            tabContent.style.display = tabContent.id === tabId ? 'block' : 'none';
        });

        // Remove a classe ativa de todas as abas
        document.querySelectorAll('.tab').forEach(tab => {
            tab.classList.remove('active');
        });

        // Adiciona a classe ativa à aba clicada
        document.querySelector(`[onclick="showTab('${tabId}')"]`).classList.add('active');
    }
</script>

{% endblock %}